wad_kit.xcworkspace/xcuserdata
test_wad_kit/test_wad_kit.xcodeproj/xcuserdata
WAD Editor/WAD Editor.xcodeproj/xcuserdata
wad_kit/wad_kit.xcodeproj/xcuserdata
wad_editor_lib/wad_editor_lib.xcodeproj/xcuserdata